node-red_flow.json
[{"id":"1b451077.08f3e8","type":"tab","label":"MainStream","disabled":false,"info":""},{"id":"828ab1d8.32fe48","type":"watson-personality-insights-v3","z":"1b451077.08f3e8","name":"","inputlang":"en","outputlang":"en","rawscores":false,"consumption":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/personality-insights/api","x":228.5,"y":256,"wires":[["e600073e.dd60c8","ce99c788.cc7f5","39fe1955.43341e","a73a7a6c.92dcd8","975e5a31.c466e","69163384.45c254","108435eb.d2d682","ae86d74e.bba6a8","520ce0e.cbb8e2","3ff2f426.ac20cc","a51fafa4.931868","237519b.26f3d66"]]},{"id":"40a2d74b.4e49e8","type":"mui_chart","z":"1b451077.08f3e8","name":"OCEAN","group":"8df6a766.1bd0a8","order":1,"width":"5","height":"5","label":"","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":661,"y":312,"wires":[[],[]]},{"id":"c34ab775.f6ad5","type":"watson-translator","z":"1b451077.08f3e8","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"pt","destlang":"en","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":226.5,"y":198,"wires":[["828ab1d8.32fe48"]]},{"id":"39fe1955.43341e","type":"debug","z":"1b451077.08f3e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":185.5,"y":388,"wires":[]},{"id":"e600073e.dd60c8","type":"function","z":"1b451077.08f3e8","name":"OCEAN","func":"var m = {};\nm.labels = [\"Abertura\", \"Estado Consciente\", \"Extroversão\", \"Agradabilidade\", \"Escala Emocional\"];\nm.data = [[\n    msg.insights.personality[0].percentile,\n    msg.insights.personality[1].percentile,\n    msg.insights.personality[2].percentile,\n    msg.insights.personality[3].percentile,\n    msg.insights.personality[3].percentile,\n    ]];\nm.series = [\"Big5\"];\n//return {payload:[m],topic:msg.topic};\nvar mensagem = \n{\n    payload:[m],\n\tsocketid: global.get(\"socketid\"),  \n\t_msgid: global.get(\"msgid\")\n};\nreturn mensagem;","outputs":1,"noerr":0,"x":429,"y":313,"wires":[["40a2d74b.4e49e8"]]},{"id":"fccfbfb2.a8f73","type":"function","z":"1b451077.08f3e8","name":"GetMsgProp","func":"//global.set(\"mensagem\",msg.payload);\nglobal.set(\"socketid\",msg.socketid);\nglobal.set(\"msgid\",msg._msgid);\nreturn msg;","outputs":1,"noerr":0,"x":208,"y":149,"wires":[["c34ab775.f6ad5","c63d0647.2374a"]]},{"id":"ce99c788.cc7f5","type":"function","z":"1b451077.08f3e8","name":"NEEDS","func":"var m = {};\nm.labels = [\"Desafio\", \"Proximidade\", \"Curiosidade\", \"Entusiasmo\", \"Harmonia\", \"Ideal\",\"Liberdade\", \"Amor\", \"Praticidade\", \"Autoexpressão\", \"Estabilidade\", \"Organização\"];\n//m.data = [45,50,60,70,80,90];\nm.data = [[\n    msg.insights.needs[0].percentile*100,\n    msg.insights.needs[1].percentile*100,\n    msg.insights.needs[2].percentile*100,\n    msg.insights.needs[3].percentile*100,\n    msg.insights.needs[4].percentile*100,\n    msg.insights.needs[5].percentile*100,\n    msg.insights.needs[6].percentile*100,\n    msg.insights.needs[7].percentile*100,\n    msg.insights.needs[8].percentile*100,\n    msg.insights.needs[9].percentile*100,\n    msg.insights.needs[10].percentile*100,\n    msg.insights.needs[11].percentile*100,\n    ]];\nm.series = [\"Necessidades\"];\n//return {payload:[m],topic:msg.topic};\nvar mensagem = \n{\n    payload:[m],\n//    topic:\"Pie Hole\",\n\tsocketid: global.get(\"socketid\"),  \n\t_msgid: global.get(\"msgid\")\n};\nreturn mensagem;","outputs":1,"noerr":0,"x":428,"y":401,"wires":[["454a0efe.bdbac8"]]},{"id":"454a0efe.bdbac8","type":"mui_chart","z":"1b451077.08f3e8","name":"Needs","group":"5d884748.2f7798","order":1,"width":"5","height":"5","label":"","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":true,"colors":["#73ab27","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":655,"y":401,"wires":[[],[]]},{"id":"6a314f33.f7f978","type":"mui_chart","z":"1b451077.08f3e8","name":"Values","group":"4667390a.f5d3a8","order":1,"width":"5","height":"5","label":"","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":655,"y":453,"wires":[[],[]]},{"id":"a73a7a6c.92dcd8","type":"function","z":"1b451077.08f3e8","name":"VALUES","func":"var m = {};\nm.labels = [\"Tradição\", \"Entusiasmo\", \"Hedonismo\", \"Autoaprimoramento\", \"Ajuda ao próximo\"];\n//m.data = [45,50,60,70,80,90];\nm.data = [[\n    msg.insights.values[0].percentile*100,\n    msg.insights.values[1].percentile*100,\n    msg.insights.values[2].percentile*100,\n    msg.insights.values[3].percentile*100,\n    msg.insights.values[4].percentile*100,\n        ]];\nm.series = [\"Valores\"];\n//return {payload:[m],topic:msg.topic};\nvar mensagem = \n{\n    payload:[m],\n//    topic:\"Pie Hole\",\n\tsocketid: global.get(\"socketid\"),  \n\t_msgid: global.get(\"msgid\")\n};\nreturn mensagem;","outputs":1,"noerr":0,"x":430,"y":453,"wires":[["6a314f33.f7f978"]]},{"id":"10500bc6.9bf10c","type":"mui_text","z":"1b451077.08f3e8","group":"49ed0dba.5b46c4","order":2,"width":"5","height":"5","name":"Aspects","label":"","format":"{{msg.payload}}","layout":"row-spread","x":663.5,"y":356,"wires":[]},{"id":"69163384.45c254","type":"function","z":"1b451077.08f3e8","name":"Aspects","func":"var chaves= ' ';\n\n// OPENNESS\nif (msg.insights.personality[0].percentile >0.66) \n{\n    if (msg.insights.personality[0].children[0].percentile >0.66)\n    {\n    chaves += \"Aventura, disposição para experimentar.  \";\n    }\n    if (msg.insights.personality[0].children[1].percentile >0.66)\n    {\n    chaves += \"Interesses artísticos. \";\n    }\n    if (msg.insights.personality[0].children[2].percentile >0.66)\n    {\n    chaves += \"Profundidade nas emoções. \";\n    }\n    if (msg.insights.personality[0].children[3].percentile >0.66)\n    {\n    chaves += \"Imaginação. \";\n    }\n    if (msg.insights.personality[0].children[4].percentile >0.66)\n    {\n    chaves += \"Curiosidade intelectual. \";\n    }\n    if (msg.insights.personality[0].children[5].percentile >0.66)\n    {\n    chaves += \"Liberalismo, tolerância pela diversidade. \";\n    }\n}\n\n// COSCIENTIOUSNESS\n\nif (msg.insights.personality[1].percentile >0.66) \n{\n    if (msg.insights.personality[1].children[0].percentile >0.66)\n    {\n    chaves += \"Motivação, foco. \";\n    }\n    if (msg.insights.personality[1].children[1].percentile >0.66)\n    {\n    chaves += \"Cautela. \";\n    }\n    if (msg.insights.personality[1].children[2].percentile >0.66)\n    {\n    chaves += \"Responsabilidade. \";\n    }\n    if (msg.insights.personality[1].children[3].percentile >0.66)\n    {\n    chaves += \"Organização. \";\n    }\n    if (msg.insights.personality[1].children[4].percentile >0.66)\n    {\n    chaves += \"Persistência, disciplina. \";\n    }\n    if (msg.insights.personality[1].children[5].percentile >0.66)\n    {\n    chaves += \"Autoconfiança. \";\n    }\n}\n\n//EXTRAVERSION\nif (msg.insights.personality[2].percentile >0.66) \n{\n    if (msg.insights.personality[2].children[0].percentile >0.66)\n    {\n    chaves += \"Agitação, energia. \";\n    }\n    if (msg.insights.personality[2].children[1].percentile >0.66)\n    {\n    chaves += \"Liderança.\";\n    }\n    if (msg.insights.personality[2].children[2].percentile >0.66)\n    {\n    chaves += \"Alegria. \";\n    }\n    if (msg.insights.personality[2].children[3].percentile >0.66)\n    {\n    chaves += \"Busca por entusiasmo. \";\n    }\n    if (msg.insights.personality[2].children[4].percentile >0.66)\n    {\n    chaves += \"Simpatia, cordialidade. \";\n    }\n    if (msg.insights.personality[2].children[5].percentile >0.66)\n    {\n    chaves += \"Sociável. \";\n    }\n}\n//AGREABLENESS\nif (msg.insights.personality[3].percentile >0.66) \n{\n    if (msg.insights.personality[3].children[0].percentile >0.66)\n    {\n    chaves += \"Altruísmo. \";\n    }\n    if (msg.insights.personality[3].children[1].percentile >0.66)\n    {\n    chaves += \"Cooperação. \";\n    }\n    if (msg.insights.personality[3].children[2].percentile >0.66)\n    {\n    chaves += \"Modéstia. \";\n    }\n    if (msg.insights.personality[3].children[3].percentile >0.66)\n    {\n    chaves += \"Moralidade, sinceridade. \";\n    }\n    if (msg.insights.personality[3].children[4].percentile >0.66)\n    {\n    chaves += \"Compreensão, empatia. \";\n    }\n    if (msg.insights.personality[3].children[5].percentile >0.66)\n    {\n    chaves += \"Confiante nos outros. \";\n    }\n}\n//EMOTIONAL RANGE\nif (msg.insights.personality[4].percentile >0.66) \n{\n    if (msg.insights.personality[4].children[0].percentile >0.66)\n    {\n    chaves += \"Raiva, Explosividade. \";\n    }\n    if (msg.insights.personality[4].children[1].percentile >0.66)\n    {\n    chaves += \"Ansiedade. \";\n    }\n    if (msg.insights.personality[4].children[2].percentile >0.66)\n    {\n    chaves += \"Depressão, Melancolia. \";\n    }\n    if (msg.insights.personality[4].children[3].percentile >0.66)\n    {\n    chaves += \"Impulsividade. \";\n    }\n    if (msg.insights.personality[4].children[4].percentile >0.66)\n    {\n    chaves += \"Autocrítica, preocupação com imagem. \";\n    }\n    if (msg.insights.personality[4].children[5].percentile >0.66)\n    {\n    chaves += \"Dificuldade sob pressão. \";\n    }\n}\n\n\nmsg.payload = chaves;\nreturn msg;","outputs":1,"noerr":0,"x":428,"y":357,"wires":[["10500bc6.9bf10c"]]},{"id":"edd7a9d8.dbcd","type":"function","z":"1b451077.08f3e8","name":"comErronoPayload","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":228,"y":97,"wires":[["fccfbfb2.a8f73"]]},{"id":"975e5a31.c466e","type":"function","z":"1b451077.08f3e8","name":"AlertaWordCount","func":"if (msg.watsonerror)\n{\n    msg.payload = \"Alert: Personality insights requires a minimum of one hundred words\";\n}\nelse\n{ \n    msg.payload = \"Verifique resultados no menu a esquerda\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":523.5,"y":183,"wires":[["3d67453.45dbeba","cbbdfefc.3b2238"]]},{"id":"3d67453.45dbeba","type":"mui_toast","z":"1b451077.08f3e8","position":"dialog","displayTime":"3","multi":true,"highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":723.5,"y":183,"wires":[[]]},{"id":"108435eb.d2d682","type":"function","z":"1b451077.08f3e8","name":"PurchasingPrefs","func":"var chaves= '';\n\n    if (msg.insights.consumption_preferences[0].consumption_preferences[0].score > 0.66)\n    {\n    chaves += \"Compraria um carro pelo custo de manutenção. \";\n    }\n\tif (msg.insights.consumption_preferences[0].consumption_preferences[1].score > 0.66)\n    {\n    chaves += \"Compraria um carro com base na sua segurança. \";\n    }\n\tif (msg.insights.consumption_preferences[0].consumption_preferences[2].score > 0.66)\n    {\n    chaves += \"Escolhe roupas pela qualidade. \";\n    }\n\tif (msg.insights.consumption_preferences[0].consumption_preferences[3].score > 0.66)\n    {\n    chaves += \"Escolhe roupas pelo estilo. \";\n    }\n    if (msg.insights.consumption_preferences[0].consumption_preferences[4].score > 0.66)\n    {\n    chaves += \"Escolhe roupas pelo conforto. \";\n    }\n\tif (msg.insights.consumption_preferences[0].consumption_preferences[5].score > 0.66)\n    {\n    chaves += \"Influenciável pela marca, na escolha e compra de produtos. \";\n    }\n\tif (msg.insights.consumption_preferences[0].consumption_preferences[6].score > 0.66)\n    {\n    chaves += \"Influenciável pela utilidade do produto, ao escolhe-lo. \";\n    }\n\tif (msg.insights.consumption_preferences[0].consumption_preferences[7].score > 0.66)\n    {\n    chaves += \"Influenciável por propagandas online. \";\n    }\n\tif (msg.insights.consumption_preferences[0].consumption_preferences[8].score > 0.66)\n    {\n    chaves += \"Influenciável por mídia social. \";\n    }\n\tif (msg.insights.consumption_preferences[0].consumption_preferences[9].score > 0.66)\n    {\n    chaves += \"Influenciável pela família, no consumo. \";\n    }\n\tif (msg.insights.consumption_preferences[0].consumption_preferences[10].score > 0.66)\n    {\n    chaves += \"Impulsividade. \";\n    }\n\tif (msg.insights.consumption_preferences[0].consumption_preferences[11].score > 0.66)\n    {\n    chaves += \"Prefere uso de cartões de Crédito nas compras. \";\n    }\n\t\nmsg.payload = chaves;\nreturn msg;","outputs":1,"noerr":0,"x":379,"y":649,"wires":[["6a2d369b.328c98"]]},{"id":"6a2d369b.328c98","type":"mui_text","z":"1b451077.08f3e8","group":"8e8af710.04fed","order":1,"width":"5","height":"5","name":"PurchasingPrefs","label":"","format":"{{msg.payload}}","layout":"row-spread","x":589,"y":649,"wires":[]},{"id":"ae86d74e.bba6a8","type":"function","z":"1b451077.08f3e8","name":"Health&ActivityPref","func":"var chaves= '';\n\n    if (msg.insights.consumption_preferences[1].consumption_preferences[0].score > 0.66)\n    {\n    chaves += \"Come fora regularmente. \";\n    }\n\tif (msg.insights.consumption_preferences[1].consumption_preferences[1].score > 0.66)\n    {\n    chaves += \"Frequenta academia de ginástica. \";\n    }\n\tif (msg.insights.consumption_preferences[1].consumption_preferences[2].score > 0.66)\n    {\n    chaves += \"Prefere atividades ao ar livre. \";\n    }\t\nmsg.payload = chaves;\nreturn msg;","outputs":1,"noerr":0,"x":378,"y":700,"wires":[["34230397.3d1bac"]]},{"id":"34230397.3d1bac","type":"mui_text","z":"1b451077.08f3e8","group":"7a6cfd75.0a6094","order":5,"width":"5","height":"5","name":"Health & Activity","label":"","format":"{{msg.payload}}","layout":"row-spread","x":581,"y":698,"wires":[]},{"id":"520ce0e.cbb8e2","type":"function","z":"1b451077.08f3e8","name":"MoviePrefs","func":"var chaves= ' ';\n\n    if (msg.insights.consumption_preferences[4].consumption_preferences[0].score > 0.66)\n    {\n    chaves += \"Romance. \";\n    }\n\tif (msg.insights.consumption_preferences[4].consumption_preferences[1].score > 0.66)\n    {\n    chaves += \"Aventura. \";\n    }\n\tif (msg.insights.consumption_preferences[4].consumption_preferences[2].score > 0.66)\n    {\n    chaves += \"Terror. \";\n    }\n\tif (msg.insights.consumption_preferences[4].consumption_preferences[3].score > 0.66)\n    {\n    chaves += \"Musicais. \";\n    }\n\tif (msg.insights.consumption_preferences[4].consumption_preferences[4].score > 0.66)\n    {\n    chaves += \"História. \";\n    }\n\tif (msg.insights.consumption_preferences[4].consumption_preferences[5].score > 0.66)\n    {\n    chaves += \"Ficção Científica. \";\n    }\n\tif (msg.insights.consumption_preferences[4].consumption_preferences[6].score > 0.66)\n    {\n    chaves += \"Guerras e conflitos. \";\n    }\n\tif (msg.insights.consumption_preferences[4].consumption_preferences[7].score > 0.66)\n    {\n    chaves += \"Drama. \";\n    }\n\tif (msg.insights.consumption_preferences[4].consumption_preferences[8].score > 0.66)\n    {\n    chaves += \"Ação. \";\n    }\n\tif (msg.insights.consumption_preferences[4].consumption_preferences[9].score > 0.66)\n    {\n    chaves += \"Documentários. \";\n    }\n\t\nmsg.payload = chaves;\nreturn msg;","outputs":1,"noerr":0,"x":368,"y":752,"wires":[["2961e0b0.468b08"]]},{"id":"2961e0b0.468b08","type":"mui_text","z":"1b451077.08f3e8","group":"95b66542.7e4138","order":2,"width":"5","height":"5","name":"MoviePrefs","label":"","format":"{{msg.payload}}","layout":"row-spread","x":570,"y":752,"wires":[]},{"id":"3ff2f426.ac20cc","type":"function","z":"1b451077.08f3e8","name":"MusicPrefs","func":"var chaves= ' ';\n\n    if (msg.insights.consumption_preferences[5].consumption_preferences[0].score > 0.66)\n    {\n    chaves += \"Rap. \";\n    }\n\tif (msg.insights.consumption_preferences[5].consumption_preferences[1].score > 0.66)\n    {\n    chaves += \"Country. \";\n    }\n\tif (msg.insights.consumption_preferences[5].consumption_preferences[2].score > 0.66)\n    {\n    chaves += \"Rhythm & Blues. \";\n    }\n\tif (msg.insights.consumption_preferences[5].consumption_preferences[3].score > 0.66)\n    {\n    chaves += \"Hip hop. \";\n    }\n\tif (msg.insights.consumption_preferences[5].consumption_preferences[4].score > 0.66)\n    {\n    chaves += \"Gosta de shows ao vivo. \";\n    }\n\tif (msg.insights.consumption_preferences[5].consumption_preferences[5].score > 0.66)\n    {\n    chaves += \"Interesse em tocar instrumentos musicais. \";\n    }\n\tif (msg.insights.consumption_preferences[5].consumption_preferences[6].score > 0.66)\n    {\n    chaves += \"Ritmos latinos. \";\n    }\n\tif (msg.insights.consumption_preferences[5].consumption_preferences[7].score > 0.66)\n    {\n    chaves += \"Rock. \";\n    }\n\tif (msg.insights.consumption_preferences[5].consumption_preferences[8].score > 0.66)\n    {\n    chaves += \"Clássica. \";\n    }\n\t\nmsg.payload = chaves;\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":817,"wires":[["ceafb93c.56ec9"]]},{"id":"ceafb93c.56ec9","type":"mui_text","z":"1b451077.08f3e8","group":"ee57afc5.987d28","order":3,"width":"5","height":"5","name":"MusicPrefs","label":"","format":"{{msg.payload}}","layout":"row-spread","x":569,"y":816,"wires":[]},{"id":"a51fafa4.931868","type":"function","z":"1b451077.08f3e8","name":"ReadingPrefs","func":"var chaves= ' ';\n\n    if (msg.insights.consumption_preferences[6].consumption_preferences[0].score > 0.66)\n    {\n    chaves += \"Hábito de ler regularmente. \";\n    }\n\tif (msg.insights.consumption_preferences[6].consumption_preferences[1].score > 0.66)\n    {\n    chaves += \"Revistas de entretenimento. \";\n    }\n\tif (msg.insights.consumption_preferences[6].consumption_preferences[2].score > 0.66)\n    {\n    chaves += \"Livros não ficção. \";\n    }\n\tif (msg.insights.consumption_preferences[6].consumption_preferences[3].score > 0.66)\n    {\n    chaves += \"Livros de finanças. \";\n    }\n\tif (msg.insights.consumption_preferences[6].consumption_preferences[4].score > 0.66)\n    {\n    chaves += \"Autobiografias. \";\n    }\n\t\nmsg.payload = chaves;\nreturn msg;","outputs":1,"noerr":0,"x":381,"y":883,"wires":[["5ecce4ba.9ec2f4"]]},{"id":"5ecce4ba.9ec2f4","type":"mui_text","z":"1b451077.08f3e8","group":"4bbd20c7.826ce","order":4,"width":"5","height":"5","name":"Leitura","label":"","format":"{{msg.payload}}","layout":"row-spread","x":561,"y":882,"wires":[]},{"id":"237519b.26f3d66","type":"function","z":"1b451077.08f3e8","name":"Other","func":"var chaves= '';\n\n    if (msg.insights.consumption_preferences[7].consumption_preferences[0].score > 0.66)\n    {\n    chaves += \"Afinidade com trabalho voluntário em causas sociais. \";\n    }\n    if (msg.insights.consumption_preferences[3].consumption_preferences[0].score > 0.66)\n    {\n    chaves += \"Possível inicio de empreendimento nos próximos ano. \";\n    }\nif (msg.insights.consumption_preferences[2].consumption_preferences[0].score > 0.66)\n    {\n    chaves += \"Preocupação com o meio ambiente. \";\n    }\nmsg.payload = chaves;\nreturn msg;","outputs":1,"noerr":0,"x":355,"y":948,"wires":[["241fd616.b7b8a2"]]},{"id":"241fd616.b7b8a2","type":"mui_text","z":"1b451077.08f3e8","group":"2f1c0609.7c3752","order":6,"width":"5","height":"5","name":"Other","label":"","format":"{{msg.payload}}","layout":"row-spread","x":551,"y":949,"wires":[]},{"id":"5a5d6f63.b70ac","type":"mui_form","z":"1b451077.08f3e8","name":"","label":"","group":"cd050901.183f38","order":0,"width":"16","height":"1","options":[{"label":"Digite / cole seu texto aqui e clique em \"submeter\"","value":"text","type":"text","required":true}],"formValue":{"text":""},"payload":"","submit":"Submeter","cancel":"Cancelar","topic":"","x":167.5,"y":34,"wires":[["edd7a9d8.dbcd","a6376838.012a18"]]},{"id":"c63d0647.2374a","type":"debug","z":"1b451077.08f3e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":411,"y":146,"wires":[]},{"id":"a6376838.012a18","type":"function","z":"1b451077.08f3e8","name":"","func":"msg.payload = \"Aguarde. Processando texto de entrada. Powered by IBM Watson.\";\nreturn msg;","outputs":1,"noerr":0,"x":611.5,"y":35,"wires":[["514cc4f6.7daf44"]]},{"id":"514cc4f6.7daf44","type":"mui_text","z":"1b451077.08f3e8","group":"2bf8e519.3259aa","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":754.5,"y":35,"wires":[]},{"id":"cbbdfefc.3b2238","type":"function","z":"1b451077.08f3e8","name":"","func":"msg.payload = \" \";\nreturn msg;","outputs":1,"noerr":0,"x":615,"y":90,"wires":[["514cc4f6.7daf44"]]},{"id":"8df6a766.1bd0a8","type":"mui_group","z":"","name":"OCEAN","tab":"bc9e0ca7.825a5","order":1,"disp":true,"width":"6","collapse":false},{"id":"5d884748.2f7798","type":"mui_group","z":"","name":"Necessidades","tab":"bc9e0ca7.825a5","order":3,"disp":true,"width":"6","collapse":false},{"id":"4667390a.f5d3a8","type":"mui_group","z":"","name":"Valores","tab":"bc9e0ca7.825a5","order":4,"disp":true,"width":"6","collapse":false},{"id":"49ed0dba.5b46c4","type":"mui_group","z":"","name":"Aspectos","tab":"bc9e0ca7.825a5","order":2,"disp":true,"width":"6","collapse":false},{"id":"8e8af710.04fed","type":"mui_group","z":"","name":"Compras","tab":"f0c7b0be.5beb78","order":1,"disp":true,"width":"6","collapse":false},{"id":"7a6cfd75.0a6094","type":"mui_group","z":"","name":"Saúde","tab":"f0c7b0be.5beb78","order":5,"disp":true,"width":"6","collapse":false},{"id":"95b66542.7e4138","type":"mui_group","z":"","name":"Cinema","tab":"f0c7b0be.5beb78","order":2,"disp":true,"width":"6","collapse":false},{"id":"ee57afc5.987d28","type":"mui_group","z":"","name":"Musical","tab":"f0c7b0be.5beb78","order":3,"disp":true,"width":"6","collapse":false},{"id":"4bbd20c7.826ce","type":"mui_group","z":"","name":"Leitura","tab":"f0c7b0be.5beb78","order":4,"disp":true,"width":"6","collapse":false},{"id":"2f1c0609.7c3752","type":"mui_group","z":"","name":"Outros","tab":"f0c7b0be.5beb78","order":6,"disp":true,"width":"6","collapse":false},{"id":"cd050901.183f38","type":"mui_group","z":"","name":"Input","tab":"fb303a0c.c34438","order":1,"disp":true,"width":"16","collapse":false},{"id":"2bf8e519.3259aa","type":"mui_group","z":"","name":"mGroup 2","tab":"fb303a0c.c34438","order":2,"disp":false,"width":"6","collapse":false},{"id":"bc9e0ca7.825a5","type":"mui_tab","z":"","name":"Personalidade","icon":"dashboard","order":2},{"id":"f0c7b0be.5beb78","type":"mui_tab","z":"","name":"Perfil de Consumo","icon":"dashboard","order":3},{"id":"fb303a0c.c34438","type":"mui_tab","z":"","name":"Entrada/Input","icon":"dashboard","order":1}]
